body{
	background-color: #ebe9df;
}

.wrapper{
	width: 650px;
	overflow: hidden;
	margin: 0px auto;
}

.wrapper .container{
	width: 644px;
	background-color: #98d6dd;
	border-radius: 5px;
	overflow: hidden;
	background-image: url(../multiplexers_images/dots2.png);
	border: 3px solid #56bec9;

}


.wrapper .container .container_logo{
	width: 467px;
	margin: 20px auto 0px auto;
}

nav ul{
	overflow: hidden;
	list-style-type: none;
	background-color: #56bec9;
	width: 650px;
	margin: 10px auto 0px auto;
}

nav ul a{
	width:130px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: sans-serif;
	color: #22848e;
	float: left;
	/*background-color: white;*/
	/*margin-left: 10px;*/
	text-align: center;
	overflow: hidden;
	font-size: 13px;
	padding-bottom: 15px;
	padding-top:15px;
	font-weight: lighter;
	text-shadow: 0px 1px .5px #98d6dd;
}

nav ul li:first-child a{
	margin-left: -40px;
}

nav ul a:hover{
	transition: all 200ms linear;
	background-color: #22848e;
	color: white;
	font-weight: lighter;
	text-shadow: none;
}


.wrapper .title{
	margin: 30px 0px 20px 0px;
	font-size: 25px;
	color: #4c3727;
}

.wrapper .content{
	width: 390px;
	float:left;
}

.wrapper .content .content_img{
	width: 360px;
	border: 10px solid white;
	box-shadow: 0px 0px 7px #9b9b9b;
}

.wrapper .content .content_text{
	margin-top:20px;
	color: #4c3727;
	font-family: georgia;
	font-size: 14.5px;
	line-height: 1.5em;
	font-weight: lighter;

}

.wrapper .sidebar{
	background-color: #ddd9c8;
	float: right;
	width:250px;

}

.wrapper .sidebar .reviews_title, .wrapper .sidebar .related_title{
	text-transform: uppercase;
	color: #4c3727;
	margin: 10px 0px 10px 10px;
	font-family: helvetica, sans-serif;
	font-size: 13px;
	font-weight: bolder;

}


.related_title{
	padding-top: 15px;
	padding-bottom: 8px;
}

.wrapper .sidebar .reviews{
	width: 225px;
	
	margin-left: 10px;

}

.wrapper .sidebar .reviews .user{
	overflow: hidden;
	margin: 10px 5px 10px 0px;
}

.wrapper .sidebar .reviews .user .user_img{
	float: left;
	padding-top: 5px;
}

/*.wrapper .sidebar .reviews .user .user_comment{
	background-color: white;
	border: 1px solid #4c3727;
	border-radius: 4px;
	width: 150px;
	float: right;
	overflow: hidden;
	font-family: helvetica, sans-serif;
	padding: 7px;
	color: #4c3727;
	font-size: 11.5px;
	font-weight: lighter;
	margin-top: 5px;
	
}*/

.bubble {
	position: relative;
	width: 150px;
	height: 75px;
	padding: 0px;
	background: #FFFFFF;
	border: #4c3727 solid 1px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	float: right;
	font-family: helvetica, sans-serif;
	padding: 7px;
	color: #4c3727;
	font-size: 11.5px;
	font-weight: lighter;
}

.bubble:after {
	content: "";
	position: absolute;
	top: 17px;
	left: -10px;
	border-style: solid;
	border-width: 9px 10px 9px 0;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
}

.bubble:before {
	content: "";
	position: absolute;
	top: 17px;
	left: -11px;
	border-style: solid;
	border-width: 9px 10px 9px 0;
	border-color: transparent #4c3727;
	display: block;
	width: 0;
	z-index: 0;
}
  

.wrapper .sidebar .related_content{
	width:235px;
	margin: 5px auto;
	overflow: hidden;
	
}

.wrapper .sidebar .related_content .related_img{
	border: 9px solid white;
	float: left;
	margin-right: 9px;
	margin-bottom: 9px;

}




.wrapper .sidebar .related_content .related_img:hover{
	border: 9px solid black;
	float: left;
	margin-right: 9px;
	margin-bottom: 9px;

}




































